*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
  --ogRed: #b22234;
  --ogBlue: #3c3b6e;
}

.app{
  height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;

  padding: 24px;
  background-color: var(--ogRed);
}

.header-title{
  font-weight: 700;
}

.footer {
  padding: 12px;
  text-align: center;
  background-color: var(--ogBlue);
  color: white;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 24px;
}

.search-bar {
  width: 750px;
  height: 50px;
  font-size: 32px;
  outline: 0;
  border-width: 0 0 2px;
  border-color: #ed563c
}

.submit-btn {
  margin: 24px 0;
  color: white;
  background: var(--ogBlue);
  padding: 12px 24px;
  font-size: 16px;
  border-style: none;
}

.representative-info {
  margin: 42px 0;
}

.office-title{
  font-weight: bold;
  text-transform: uppercase;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.menu-item a{
  color: white;
  font-size: 26px;
  margin-right: 24px;
  text-decoration: none;
}

.form-container{
  display: flex;
  justify-content: space-around;
  padding: 24px;
}

.form-label{
  font-size: 24px;
  margin: 8px;
  float: right;
}
.form-input {
  height: 42px;
  min-width: 250px;
  font-size: 24px;
  margin: 8px;
}

.landing-container{
  background-image: url('./images/flag-waving.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.625);
  background-blend-mode: overlay;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.landing-header{
  color:white;
  font-size: 100px;
}

.landing-subheader{
  color:white;
  font-size: 32px;
}

.cta{
  margin: 24px 0;
  background: var(--ogBlue);
  padding: 12px 24px;
  font-size: 16px;
}

.cta a{
  color:white;
  text-decoration: none;
}